html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    padding: 25px;
}

.overlay {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
}

.upload-image .btn-file {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn {
    background-color: rgba(0, 0, 0, 0.6) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.upload-image {
    display: none;
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 0;
    border: 2px dashed #888585;
    margin: 10px;
}

.carousel-inner {
    width: 500px;
    margin: 0 auto;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .carousel-inner:hover .upload-image {
    display: block;
}