.c-navbar li {
    margin: 0 15px;
}

.content-header {
    padding: 10px 30px;
    background: #e5e5e5;
    margin: 30px 0;
}

.caption {    
    background: #e5e5e5;
}

.caption a:not(:first-child) {
    margin-left: 10px;
}

.thumbnail .caption img {
    height: 50px;
    width: 50px;    
}

.c-carousel .carousel-indicators {
    background: #e5e5e5;
    margin: 0;
    position: static;
    padding: 10px;
    overflow-x: auto;
}

.c-carousel .carousel-indicators strong {
    position: absolute;
    z-index: 999;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-indent: 0
}

.c-carousel .carousel-indicators > li {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    min-width: 50px;
}

.c-carousel .carousel-indicators img {
    height: 100%;
}

.checkbox input {
    margin-right: 7px;
}

.c-carousel .carousel-item img,
.image-banner img {
    height: 250px;
}

.fig-cap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    z-index: 1;
    background: #e5e5e5;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
}

.cap-head {
    justify-content: space-between;
    display: flex;
}

 .upload-image .btn-file {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

.upload-image {
    display: none;
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 0;
    border: 3px dashed #888585;
    border-radius: 10px;
    margin: 10px;
}

.container .carousel-inner:hover .upload-image {
    display: block;
 }